<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState timeout="20"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="3600" />
  </system.web>

  <connectionStrings>
    <add name="cs" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\asfak\urbanride\App_Data\Database.mdf;Integrated Security=True" providerName=""/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Set max allowed content length to 50MB (value is in bytes) -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>